<?xml version="1.0" encoding="UTF-8" ?>
<!-- import logback log,2 jars -->
<configuration>
    <!-- file log output -->
    <appender name="userLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/app/user/userdemo.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %class:%line >> %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/app/user/userdemo-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- console output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder defaults to ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %class:%line >> %msg%n</pattern>
        </encoder>
        <!-- Only log level INFO and above -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logLevel}</level>
        </filter>
    </appender>

    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    <root level="info">
        <appender-ref ref="userLog" />
    </root>
    <logger name="org.springframework" level="info"/>
    <logger name="jdbc.sqltiming" level="info"/>
    
    <logger name="jdbc.sqlonly" level="WARN"/>  
	<logger name="jdbc.resultsettable" level="INFO"/>  
	<logger name="jdbc.resultset" level="WARN"/>  
	<logger name="jdbc.connection" level="WARN"/>  
	<logger name="jdbc.audit" level="WARN"/>  

</configuration>