<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!--<task:scheduled-tasks>-->
        <!--<task:scheduled ref="userService" method="test"-->
                        <!--fixed-delay="6000" initial-delay="5000"/>-->

    <!--</task:scheduled-tasks>-->

   <!-- <bean id="myScheduler"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
        <property name="poolSize" value="30"/>
        <property name="errorHandler" ref="scheduledTaskErrorHandler"/>
    </bean>-->
    <!--
            <bean id="scheduledTaskErrorHandler" class="cn.memedai.watson.exception.ScheduledTaskErrorHandler" />
    -->
</beans>