<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- 2. SpringMVC配置 -->

	<!-- 扫描controller（controller层注入） -->
	<context:component-scan base-package="cn.com.env.*" />

	<annotation-driven />
	
	<!-- 方案二：使用spring mvc 的 resources 注解 用来处理静态文件 -->
	<resources location="/WEB-INF/js/" mapping="/js/*"></resources>
	
	<!-- 对模型视图添加前后缀 -->
	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/jsp/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>
</beans:beans>